.polly-badge {
  align-items: var(--badge-base-alignitems);
  background: var(--badge-base-background);
  border-radius: var(--badge-base-borderradius);
  color: var(--badge-base-color);
  display: var(--badge-base-display);
  font-size: var(--badge-base-fontsize);
  font-weight: var(--badge-base-fontweight);
  height: var(--badge-base-height);
  justify-content: var(--badge-base-justifycontent);
  line-height: var(--badge-base-lineheight);
  min-width: var(--badge-base-minwidth);
  padding: var(--badge-base-padding);
  text-align: var(--badge-base-textalign);

  &.size--sm {
    font-size: var(--badge-small-fontsize);
    height: var(--badge-small-height);
    line-height: var(--badge-small-lineheight);
    min-width: var(--badge-small-minwidth);
  }

  &.circle {
    padding: var(--badge-circle-padding);
  }
}
