body {
  .p-password {
    &.p-component {
      .p-password-toggle-mask-icon {
        background-color: var(--password-maskicon-backgroundcolor);
        border-radius: var(--password-maskicon-borderradius);
        border: var(--password-maskicon-border) !important;
        height: var(--password-maskicon-height) !important;
        inset-inline-end: var(--password-maskicon-size);
        margin-top: calc(-1 * calc((var(--password-maskicon-margintop) / 2))) !important;
        padding: var(--password-maskicon-padding);
        right: var(--password-maskicon-right);
        top: var(--password-maskicon-top);
        width: var(--password-maskicon-width) !important;
      }
    }
    &:has(.p-password-toggle-mask-icon) .p-password-input {
      padding-inline-end: calc((var(--password-maskicon-paddingx) * 2) + var(--password-maskicon-size));
    }
  }

  .pre-login-form.p-password.p-component {
    color: var(--password-prelogin-color-default) !important;
    .p-password-input {
      color: var(--password-prelogin-color-default) !important;
      font-family: var(--password-prelogin-fontfamily) !important;
      font-size: var(--password-prelogin-fontsize) !important;
      font-weight: var(--password-prelogin-fontweight) !important;
      line-height: var(--password-prelogin-lineheight) !important;
      &::placeholder {
        color: var(--password-prelogin-color-placeholder);
      }
    }
    .p-password-toggle-mask-icon {
      color: var(--password-prelogin-color-default) !important;
    }
  }
}
